<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Desert HTML Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="keywords" content="" />

<!-- Google Fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic' rel='stylesheet' type='text/css'>


<!-- Styles -->
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/revolution.css" media="screen" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link href="css/responsive.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="css/color/color.css" title="color" />
</head>
<body>
<div class="theme-layout">
<header class="stick">
	<div class="container">
		<div class="logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div><!-- Logo -->
		<div class="menus">
			<nav>
				<ul>
					<li><a href="#" title="">Home</a>
						<ul class="mega">
							<li><a href="index2.html" title="">Agency Homepage 1</a></li>
							<li><a href="index3.html" title="">Agency Homepage 2</a></li>
							<li><a href="index10.html" title="">Agency Homepage 3</a></li>
							<li><a href="index11.html" title="">Agency Homepage 4</a></li>
							<li><a href="index6.html" title="">Agency Homepage 5</a></li>
							<li><a href="index12.html" title="">Agency Homepage 6</a></li>
							<li><a href="index.html" title="">Portfolio Homepage</a></li>
							<li><a href="index8.html" title="">Portfolio Homepage2</a></li>
							<li><a href="index9.html" title="">Portfolio Homepage3</a></li>
							<li><a href="index4.html" title="">Resume Homepage 1</a></li>
							<li><a href="index5.html" title="">Resume Homepage 2</a></li>
							<li><a href="index7.html" title="">Resume Homepage 3</a></li>
						</ul>
					</li>
					<li><a href="#" title="">Pages</a>
						<ul>
							<li><a href="#" title="">Features</a>
								<ul>
									<li><a href="boxed-version.html" title="">Boxed Layout</a></li>
									<li><a href="index10.html" title="">Simple Header</a></li>
									<li><a href="index2.html" title="">Transparent Header</a></li>
								</ul>
							</li>
							<li><a href="#" title="">Projects Pages</a>
								<ul>
									<li><a href="projects1.html" title="">Projects Style 1</a></li>
									<li><a href="projects2.html" title="">Projects Style 2</a></li>
									<li><a href="projects3.html" title="">Projects Style 3</a></li>
									<li><a href="projects4.html" title="">Projects Style 4</a></li>
									<li><a href="project-detail.html" title="">Project Detail</a></li>
									<li><a href="project-detail2.html" title="">Project Detail 2</a></li>
								</ul>
							</li>
							<li><a href="products.html" title="">Products Page</a></li>
							<li><a href="product-detail.html" title="">Products Detail Page</a></li>
							<li><a href="team.html" title="">Team Page</a></li>
							<li><a href="team-detail.html" title="">team Single Page</a></li>
							<li><a href="404.html" title="">404 Page</a></li>
						</ul>
					</li>
					<li><a href="blog.html" title="">Blog</a>
						<ul>
							<li><a href="blog.html" title="">Blog Page</a></li>
							<li><a href="single-post.html" title="">Blog Single Page</a></li>
						</ul>
					</li>
					<li><a href="about.html" title="">About Us</a></li>
					<li><a href="contact.html" title="">Contact Us</a></li>
				</ul>
			</nav><!-- Navigation -->
			<form class="header-search">
				<input type="text" placeholder="Enter Your Search" />
				<button><i class="fa fa-search"></i></button>
			</form><!-- Header Form -->
			<div class="social">
				<a href="#" title=""><i class="fa fa-facebook"></i></a>
				<a href="#" title=""><i class="fa fa-twitter"></i></a>
				<a href="#" title=""><i class="fa fa-linkedin"></i></a>
				<a href="#" title=""><i class="fa fa-skype"></i></a>
			</div><!-- Social Icons -->
		</div>
	</div>
</header><!-- Header -->
<div class="responsive-header">
	<div class="responsive-menu">
		<div class="logo"><a href="#" title=""><img src="images/logo.png" alt="" /></a></div>
		<span class="open-menu"><i class="fa fa-align-justify"></i></span>
		<div class="social">
			<a href="#" title=""><i class="fa fa-facebook"></i></a>
			<a href="#" title=""><i class="fa fa-twitter"></i></a>
			<a href="#" title=""><i class="fa fa-linkedin"></i></a>
			<a href="#" title=""><i class="fa fa-skype"></i></a>
		</div><!-- Social Icons -->
		<div class="menu-links">
			<ul>
				<li class="menu-item-has-children"><a href="#" title="">Home</a>
					<ul>
						<li><a href="index2.html" title="">Agency Homepage 1</a></li>
						<li><a href="index3.html" title="">Agency Homepage 2</a></li>
						<li><a href="index10.html" title="">Agency Homepage 3</a></li>
						<li><a href="index11.html" title="">Agency Homepage 4</a></li>
						<li><a href="index6.html" title="">Agency Homepage 5</a></li>
						<li><a href="index12.html" title="">Agency Homepage 6</a></li>
						<li><a href="index.html" title="">Portfolio Homepage</a></li>
						<li><a href="index8.html" title="">Portfolio Homepage2</a></li>
						<li><a href="index9.html" title="">Portfolio Homepage3</a></li>
						<li><a href="index4.html" title="">Resume Homepage 1</a></li>
						<li><a href="index5.html" title="">Resume Homepage 2</a></li>
						<li><a href="index7.html" title="">Resume Homepage 3</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children"><a href="#" title="">Pages</a>
					<ul>
						<li class="menu-item-has-children"><a href="#" title="">Features</a>
							<ul>
								<li><a href="boxed-version.html" title="">Boxed Layout</a></li>
								<li><a href="index10.html" title="">Simple Header</a></li>
								<li><a href="index2.html" title="">Transparent Header</a></li>
							</ul>
						</li>
						<li class="menu-item-has-children"><a href="#" title="">Projects Pages</a>
							<ul>
								<li><a href="projects1.html" title="">Projects Style 1</a></li>
								<li><a href="projects2.html" title="">Projects Style 2</a></li>
								<li><a href="projects3.html" title="">Projects Style 3</a></li>
								<li><a href="projects4.html" title="">Projects Style 4</a></li>
								<li><a href="project-detail.html" title="">Project Detail</a></li>
								<li><a href="project-detail2.html" title="">Project Detail 2</a></li>
							</ul>
						</li>
						<li><a href="products.html" title="">Products Page</a></li>
						<li><a href="product-detail.html" title="">Products Detail Page</a></li>
						<li><a href="team.html" title="">Team Page</a></li>
						<li><a href="team-detail.html" title="">team Single Page</a></li>
						<li><a href="404.html" title="">404 Page</a></li>
					</ul>
				</li>
				<li class="menu-item-has-children"><a href="blog.html" title="">Blog</a>
					<ul>
						<li><a href="blog.html" title="">Blog Page</a></li>
						<li><a href="single-post.html" title="">Blog Single Page</a></li>
					</ul>
				</li>
				<li><a href="about.html" title="">About Us</a></li>
				<li><a href="contact.html" title="">Contact Us</a></li>
			</ul>
		</div>
	</div><!-- Responsive Menu -->
</div><!-- Responsive Header -->


<section>
	<div class="block blackish">
		<div class="parallax" style="background:url(http://placehold.it/1600x839);"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="desert-parallax">
						<div class="row">
							<div class="col-md-6">
								<h3><strong>HI</strong>, WE ARE  <i>JAMES REX & MELISSA REX!</i></h3>
								<span class="subtitle">Feel Free To Contact Me</span>
								<p>Sicingio elitr, sed diam nonumy umod tempor invidu ntaliq muerat, sed diam. Phasellus dictum purus ut convallis tincidunt. Tenetur magni quae quia ipsa suscipit dolor, quam incidunt sapiente cupiditate soluta!</p>
							</div>
						</div>
					</div><!-- Desert Parallax -->
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block whitish">
		<div class="parallax" style="background:url(http://placehold.it/1600x839);"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="desert-parallax">
						<div class="row">
							<div class="col-md-5">
								<span class="subtitle">I'M AVAILABLE FOR</span>
								<h2>MY <i>SERVICES</i></h2>
								<span class="subtitle">SEE WHAT CAN I DO</span>
								<p>Sicingio elitr, sed diam nonumy eir umod tempor inviduntali sed diam. Phasellus dictum purus ut convallis tincidunt namquis sapien condimentum consequat. Ut ut lacinia felis.</p>
								<a class="readmore" title="" href="#"><span>See More <i class="fa fa-angle-double-right"></i></span></a>
							</div>
							<div class="col-md-6 col-md-offset-1">
								<div class="simple-services">
									<div class="row">
										<div class="col-md-6">
											<div class="simple-service">
												<i class="fa fa-joomla"></i>
												<h5>BEAUTIFUL DESIGNS</h5>
												<p>Sicingio elitr, sed diam nonumy eir sed diam. Phasellus dictum.</p>
											</div><!-- Simple Service -->
										</div>
										<div class="col-md-6">
											<div class="simple-service">
												<i class="fa fa-bell"></i>
												<h5>GRAPHIC DESIGNS</h5>
												<p>Sicingio elitr, sed diam nonumy eir sed diam. Phasellus dictum.</p>
											</div><!-- Simple Service -->
										</div>
										<div class="col-md-6">
											<div class="simple-service">
												<i class="fa fa-comment"></i>
												<h5>SOCIAL MARKETING</h5>
												<p>Sicingio elitr, sed diam nonumy eir sed diam. Phasellus dictum.</p>
											</div><!-- Simple Service -->
										</div>
										<div class="col-md-6">
											<div class="simple-service">
												<i class="fa fa-heartbeat"></i>
												<h5>PHOTOGRAPHY</h5>
												<p>Sicingio elitr, sed diam nonumy eir sed diam. Phasellus dictum.</p>
											</div><!-- Simple Service -->
										</div>
									</div>
								</div><!-- Simple Services -->
							</div>
						</div>
					</div><!-- Desert Parallax -->
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block blackish remove-bottom remove-gap">
		<div class="parallax" style="background:url(http://placehold.it/1600x839);"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="desert-parallax">
					<div class="row">
						<div class="col-md-7">
							<div class="projects">
								<div class="col-md-6">
									<div class="project">
										<img alt="" src="http://placehold.it/400x300">
									</div><!-- Project -->
								</div>
								<div class="col-md-6">
									<div class="project">
										<img alt="" src="http://placehold.it/400x300">
									</div><!-- Project -->
								</div>
								<div class="col-md-6">
									<div class="project">
										<img alt="" src="http://placehold.it/400x300">
									</div><!-- Project -->
								</div>
								<div class="col-md-6">
									<div class="project">
										<img alt="" src="http://placehold.it/400x300">
									</div><!-- Project -->
								</div>
							</div>
						</div>
						<div class="col-md-5">
							<div class="text-wrap">
								<span class="subtitle">I'M Available</span>
								<h2>MY <i>PROJECTS</i></h2>
								<span class="subtitle">Feel Free To Contact Me</span>
								<p>Sicingio elitr, sed diam nonumy eir umod tempor inviduntali sed diam. Phasellus dictum purus ut convallis tincidunt namquis sapien condimentum consequat.convallis tincidunt namquis sapien condimentum consequat.</p>
								<a class="readmore" title="" href="projects1.html"><span>Read More <i class="fa fa-angle-double-right"></i></span></a>
							</div>
						</div>
					</div>
				</div><!-- Desert Parallax Fancy -->
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block whitish">
		<div class="parallax" style="background:url(http://placehold.it/1600x839);"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="desert-parallax">
						<div class="row">
							<div class="col-md-5">
								<span class="subtitle">I'M AVAILABLE FOR</span>
								<h2>MY <i>EXPERIENCE</i></h2>
								<span class="subtitle">SEE WHAT CAN I DO</span>
								<p>Sicingio elitr, sed diam nonumy eir umod tempor inviduntali sed diam. Phasellus dictum purus ut convallis tincidunt. Sicingio elitr, sed diam nonumy eir umod tem por inviduntali sed diam. Phasellus dictum purus ut convallis tincidunt.</p>
							</div>
							<div class="col-md-6 col-md-offset-1">
								<div class="bars"> 
									<div class="row">
										<div class="col-md-5"><span>Graphic Designer</span></div>
										<div class="col-md-7">
											<div class="skillbar">
												<span>45%</span>
												<div class="progress"><div style="width: 45%" class="progress-bar progress-bar-striped active"></div></div>
											</div><!-- Skill Bar -->
										</div>
									</div>
									<div class="row">
										<div class="col-md-5"><span>Social Marketing</span></div>
										<div class="col-md-7">
											<div class="skillbar">
												<span>85%</span>
												<div class="progress"><div style="width:85%" class="progress-bar progress-bar-striped active"></div></div>
											</div><!-- Skill Bar -->
										</div>
									</div>
									<div class="row">
										<div class="col-md-5"><span>Beatuiful Designs</span></div>
										<div class="col-md-7">
											<div class="skillbar">
												<span>70%</span>
												<div class="progress"><div style="width:70%" class="progress-bar progress-bar-striped active"></div></div>
											</div><!-- Skill Bar -->
										</div>
									</div>
									<div class="row">
										<div class="col-md-5"><span>Beatuiful Designs</span></div>
										<div class="col-md-7">
											<div class="skillbar">
												<span>70%</span>
												<div class="progress"><div style="width:70%" class="progress-bar progress-bar-striped active"></div></div>
											</div><!-- Skill Bar -->
										</div>
									</div>
								</div>
							</div>
						</div>
					</div><!-- Desert Parallax -->
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block blackish remove-bottom">
		<div class="parallax" style="background:url(http://placehold.it/1600x839);"></div>
		<div class="row">
			<div class="col-md-12">
				<div class="desert-parallax">
					<div class="row">
						<div class="col-md-5">
							<div class="text-wrap">
								<span class="subtitle">I'M Available</span>
								<h2>PRICE <i>PLANS</i></h2>
								<span class="subtitle">Feel Free To Contact Me</span>
								<p>Sicingio elitr, sed diam nonumy eir umod tempor inviduntali sed diam. Phasellus dictum purus ut convallis tincidunt namquis sapien condimentum consequat. Ut ut lacinia felis.</p>
							</div>
						</div>
						<div class="col-md-7">
							<div class="overlap">
								<div class="price-table">
									<div class="table">
										<span>STANDARD</span>
										<strong>$199</strong>
										<span>PER MONTH</span>
										<ul>
											<li>Use one on one site</li>
											<li>Feature two</li>
											<li>Another great feature</li>
										</ul>
										<a class="readmore" title="" href="#"><span>SIGN UP NOW</span></a>
									</div><!-- Table -->
									<div class="table">
										<span>PREMIUM</span>
										<strong>$285</strong>
										<span>PER MONTH</span>
										<ul>
											<li>Use one on one site</li>
											<li>Feature two</li>
											<li>Another great feature</li>
										</ul>
										<a class="readmore" title="" href="#"><span>SIGN UP NOW</span></a>
									</div><!-- Table -->
								</div><!-- Price Table -->
							</div>
						</div>
					</div>
				</div><!-- Desert Parallax Fancy -->
			</div>
		</div>
	</div>
</section>
<section>
	<div class="block whitish">
		<div class="parallax" style="background:url(http://placehold.it/1600x839);"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="desert-parallax">
						<div class="row">
							<div class="col-md-5">
								<span class="subtitle">I'M AVAILABLE FOR</span>
								<h2>MY <i>CLIENTS</i></h2>
								<span class="subtitle">SEE WHAT CAN I DO</span>
								<p>Sicingio elitr, sed diam nonumy eir umod tempor inviduntali sed diam. Phasellus dictum purus ut convallis tincidunt namquis sapien condimentum consequat. Ut ut lacinia felis.</p>
								<a class="readmore" title="" href="#"><span>See More <i class="fa fa-angle-double-right"></i></span></a>
							</div>
							<div class="col-md-7">
								<div class="all-sponsors remove-ext">
									<div class="row">
										<div class="col-md-6">
											<div class="sponsor"><img src="http://placehold.it/270x138" alt=""></div>
										</div>
										<div class="col-md-6">
											<div class="sponsor"><img src="http://placehold.it/270x138" alt=""></div>
										</div>
										<div class="col-md-6">
											<div class="sponsor"><img src="http://placehold.it/270x138" alt=""></div>
										</div>
										<div class="col-md-6">
											<div class="sponsor"><img src="http://placehold.it/270x138" alt=""></div>
										</div>
									</div>
								</div>								

							</div>
						</div>
					</div><!-- Desert Parallax -->
				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="block remove-gap remove-bottom">
		<div class="row">
			<div class="col-md-12 column">
				<div class="map">
					<div id="map-canvas"></div>
				</div><!-- Google Map -->
			</div>
		</div>
	</div>
</section>


<footer>
	<div class="block">
		<div class="parallax" style="background:url(http://placehold.it/1600x839);"></div>		
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="footer-widgets">
						<div class="row">
							<div class="col-md-4">
								<div class="widget">
									<h4 class="widget-title">ABOUT <span>DESERT</span></h4>
									<p>Maecenas sit amet tincidu elit. Pellente sque habitant morbi is tristique senectus  tnetus et malesuada fames ac turpis eges tas lorem. Nulla facilisi. Pellentesque habitant mors.</p>
									<ul>
										<li><span>ADDRESS:</span><p>8500 Central Park, New York, Wdhri West CEO 12301</p></li>
										<li><span>PHONE NO:</span><p>+13 445 87 01 99</p></li>
									</ul>
								</div><!-- Widget -->
							</div>
							<div class="col-md-4">
								<div class="widget">
									<h4 class="widget-title">FLICKR <span>PHOTOS</span></h4>
									<div class="gallery-widget">
										<div class="row">
											<div class="col-md-4"><a data-rel="prettyPhoto" href="http://placehold.it/1000x900" title=""><img src="http://placehold.it/110x110" alt="" /></a></div>
											<div class="col-md-4"><a data-rel="prettyPhoto" href="http://placehold.it/1000x900" title=""><img src="http://placehold.it/110x110" alt="" /></a></div>
											<div class="col-md-4"><a data-rel="prettyPhoto" href="http://placehold.it/1000x900" title=""><img src="http://placehold.it/110x110" alt="" /></a></div>
											<div class="col-md-4"><a data-rel="prettyPhoto" href="http://placehold.it/1000x900" title=""><img src="http://placehold.it/110x110" alt="" /></a></div>
											<div class="col-md-4"><a data-rel="prettyPhoto" href="http://placehold.it/1000x900" title=""><img src="http://placehold.it/110x110" alt="" /></a></div>
											<div class="col-md-4"><a data-rel="prettyPhoto" href="http://placehold.it/1000x900" title=""><img src="http://placehold.it/110x110" alt="" /></a></div>
										</div>
									</div>
								</div><!-- Widget -->
							</div>
							<div class="col-md-4">
								<div class="widget">
									<h4 class="widget-title">NEWSLETTER <span>SIGNUP</span></h4>
									<p>Maecenas sit amet tincidu elit. Pellente sque habitant morbi is tristique senectus etnetus et malesuada fames.</p>
									<form>
										<input type="text" placeholder="Email Address" />
										<a class="readmore" href="#" title=""><span>Submit Now</span></a>
									</form>
								</div><!-- Widget -->
							</div>
						</div>
					</div><!-- Footer Widget -->
				</div>
			</div>
		</div>
	</div>	
</footer><!-- Footer -->

<div class="bottom-footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<ul class="footer-links">
					<li><a href="#" title="">Home</a></li>
					<li><a href="#" title="">Services</a></li>
					<li><a href="#" title="">Portfolio</a></li>
					<li><a href="#" title="">About Us</a></li>
					<li><a href="#" title="">Contact Us</a></li>
				</ul><!-- Footer Links -->
			</div>
			<div class="col-md-6">
				<div class="copyright">Copyright 2015 Desert designed by <a href="http://www.stillidea.net" title="">Stillidea</a></div><!-- Copyrights -->
			</div>
		</div>
	</div>
</div><!-- Bottom Footer -->
</div>

<script type="text/javascript" src="js/modernizr.custom.97074.js"></script>
<script type="text/javascript" src="js/jquery2.1.3.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/prettyPhoto.js"></script>
<script src="js/isotope.js"></script>
<script src="js/isotope-initialize.js"></script>
<script src="js/enscroll-0.5.2.min.js"></script> <!-- Custom Scroll bar -->
<script type="text/javascript" src="js/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> 
<script type="text/javascript">
jQuery(document).ready(function(){
"use strict";
	/*================== Price Table =====================*/
	$('.price-table').owlCarousel({
		loop:true,
		smartSpeed:1000,
		autoplay:true,
		autoplayTimeout:3000,
		dots:false,
		nav:false,
		margin:0,
		autoplayHoverPause:true,
		items:2,
		responsive:{
			0:{items:1},
			480:{items:1},
			767:{items:2},
			1200:{items:2},
		}
	});

});


</script>
</body>
